body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 10%;
}

h1 {
    margin: 10px 0;
    font-size: 28px;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

#searchContainer,
#searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#searchContainer button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

#searchContainer button:hover {
    background-color: #0056b3;
}

#searchContainer button:disabled {
    opacity: 0.7;
    background-color: #ccc;
    cursor: not-allowed;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
    height: 3%;
}

.input-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    height: 3%;
}

.search-button:hover {
    background-color: #0056b3;
}

#searchInstructions {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin-top: 20px;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.card a:hover {
    text-decoration: underline;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

#CDISC,
#EMA,
#FDA {
    padding-left: 3%;
    margin-left: 13%;
    margin-right: 8%;
    width: 70%;
}


#introductionContent,
#getStarted {
    padding-left: 3%;
    background-color: #E6F1F6;
    color: #1E4770;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    width: 70%;
}

#searchContent,
#searchInstructions {
    padding-left: 3%;
    background-color: #f9f9f9;
    text-align: left;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 5px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchForm {
    margin-left: 13%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#introductionContent h2,
#getStarted h2 {
    font-size: 24px;
}

#introductionContent p,
#getStarted p {
    font-size: 18px;
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInFromRight 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
    /* This ensures the element stays visible after animation */
    opacity: 0;
    /* Start the element with opacity 0 to prepare for the animation */
}